body {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    margin: 50px auto;
    background-color: rgb(0, 0, 0);
}
.cont {
    background-color: #eee;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 100px;
}

input {
    color: black;
    /* background-color: #eee; */
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    position: fixed;
    right: 345px;
    top: 52px;
}
